
.profile{
  // background-color: yellow;
  // border:2px solid green;
  padding:2rem;
  

&__left-container{
  display: flex;
  flex-direction: row;
  gap:2rem;
  align-content: center;
  // border:2px solid red;
}


&__star {
  color: #ffd700; 
}

&__wrapper{
  display: flex;
  flex-direction: row;
  gap:4rem;
}

&__right-container{
  border-left:3px solid #373373;
  padding:0 3rem;
  margin-bottom: 1rem;
}
&__right-header{
display: flex;
justify-content: center;
align-items: center;
gap: 3rem;
margin-bottom: 1.5rem;
}


&__social-description{
  margin: 5px;
  padding: 0;
}
&__social-container{
display: flex;
gap: 1.5rem;

}
&__bottom-container{
  display: flex;
  gap: 2rem;
}
}


.stats-container{
  display: flex;
  gap:6rem;
  // justify-content: space-around;
}

.icon{
  width: 40px;

  // filter: brightness(0) invert(1);
}

.review{
  padding: 0 3rem;
  // border-top: 3px solid  #373373;
}
